In [2]:
d1={}
d2={1:'one', 2:'two', 3:'three'}
d3={'email':'rahul@gmail.com',
    'email':'rahul@ibm.com',
    'email':'rahul@oracle.com',
   }
    
print(d1)
print(d2)
print(d3)
# -group of key: value pairs as one entity
# -duplicate keys are not allowed but values are allowed
# -indecing concept not applicable

{}
{1: 'one', 2: 'two', 3: 'three'}
{'email': 'rahul@oracle.com'}

In [3]:
#create and read object
emp={
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45
}

user=dict()
print(type(emp))
print(type(user))

<class 'dict'>
<class 'dict'>

In [4]:
# how to read dict values? using get method
emp={
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45
}

#read emp- dict values

print(emp.get('eid'))
print(emp.get('ename'))
print(emp.get('esal'))

101
Rahul
45000.45

In [9]:
#how to update the dict? using key
emp={
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45
}
emp['ename']= 'Rahul Gandhi ji' #will update if the key is available
emp['loc']='Wayanad' #if there is no key then it will add that key
print(emp)

{'eid': 101, 'ename': 'Rahul Gandhi ji', 'esal': 45000.45, 'loc': 'Wayanad'}

In [10]:
#how to delete the dict?
emp={'eid': 101, 'ename': 'Rahul Gandhi ji', 'esal': 45000.45, 'loc': 'Wayanad'}

del emp['esal']
print(emp)

{'eid': 101, 'ename': 'Rahul Gandhi ji', 'loc': 'Wayanad'}

In [14]:
emp=[
    {'id':101, 'ename':'Rahul','gender':'Male'},
    {'id':102, 'ename':'Sonia', 'gender':'Female'},
    {'id':103, 'ename':'Priyanka', 'gender':'Female'}
    ]
#print all employee names
print(emp[0].get('ename'))
print(emp[1].get('ename'))
print(emp[2].get('ename'))

Rahul
Sonia
Priyanka

In [18]:
employees=[
    {'id':101, 'ename':'Rahul','gender':'Male'},
    {'id':102, 'ename':'Sonia', 'gender':'Female'},
    {'id':103, 'ename':'Priyanka', 'gender':'Female'}
    ]
for employee in employees:
    print(employee.get('ename'))

Rahul
Sonia
Priyanka