In [1]:
#set- object
s1= {}
s2={10}
#how to create an empty set? using set fuction
s3= set ()

print(type(s1))
print(type(s2))
print(type(s3))

<class 'dict'>
<class 'set'>
<class 'set'>

In [2]:
eids={101,101,102,102,102,101}
print(eids) #set-duplicates are not allowed

{101, 102}

In [4]:
l1=[101,101,102,102,102,101] #LIST
t1=(101,101,102,102,102,101) #TUPLE 
s1={101,101,102,102,102,101} #SET    
print(l1) #LIST ALLOWED DUPLICATES
print(t1) #LIST ALLOWED DUPLICATES
print(s1) #DOESN'T ALLOW DUPLICATES

[101, 101, 102, 102, 102, 101]
(101, 101, 102, 102, 102, 101)
{101, 102}

In [5]:
s1={10, "Rahul", 20.5, True, (10,20)} 
print(s1) #set doesn't have order because indexing concept not applicable
#set objects will not allow dict and set only will allow heterogenous and tuple

{True, 20.5, 10, 'Rahul', (10, 20)}

In [6]:
s1={10, "Rahul", 20.5, True, (10,20)} 
for ele in s1:
    print(ele)

True
20.5
10
Rahul
(10, 20)

In [7]:
s1={10, "Rahul", 20.5, True, (10,20)} 
s1.add("sonia") #set is a mutable object meaning elements can be added.
print(s1)

{True, 20.5, 10, 'sonia', 'Rahul', (10, 20)}

In [8]:
s1={10, "Rahul", 20.5, True, (10,20)} 
s1.clear() #all elements are removed however there is empty set
print(s1)

set()

In [9]:
s1={10, "Rahul", 20.5, True, (10,20)} 
s1.pop() #removes arbitary element
print(s1)

{20.5, 10, 'Rahul', (10, 20)}

In [11]:
s1={10, "Rahul", 20.5, True, (10,20)} 
s1.remove(10) #if the element is not present then KEY ERROR
print(s1)

{True, 20.5, 'Rahul', (10, 20)}

In [12]:
s1={10, "Rahul", 20.5, True, (10,20)} 
rem_element=s1.pop()
print(s1)
print(rem_element)

{20.5, 10, 'Rahul', (10, 20)}
True

In [1]:
s1={10, "Rahul", 20.5, True, (10,20)} 
s1.discard(100) #No error
print(s1)

{'Rahul', True, 20.5, 10, (10, 20)}

In [2]:
s1={10, "Rahul", 20.5, True, (10,20)} 
s1.remove(100)
print(s1)

KeyError: 100

In [4]:
eids={101,102,103,104}
eids.pop()
print(eids)

{101, 102, 103}

In [5]:
enames={"Rahul", "Sonia", "Priya", "Modi"}
enames.pop()
print(enames)

{'Sonia', 'Priya', 'Modi'}

In [6]:
enames={"Rahul", "Sonia", "Priya", "Modi"}
#set- discard vs set- remove method
enames.remove("Modi")
print(enames)

{'Rahul', 'Sonia', 'Priya'}

In [7]:
enames={"Rahul", "Sonia", "Priya", "Modi"}
#set- discard vs set- remove method
enames.discard("Modi")
print(enames)

{'Rahul', 'Sonia', 'Priya'}

In [8]:
enames={"Rahul", "Sonia", "Priya", "Modi"}
users={"X", "Y", "Z"}
enames.update(users)
print(enames)

{'X', 'Rahul', 'Priya', 'Modi', 'Z', 'Sonia', 'Y'}

In [10]:
s1={10,20,30,40}
s2={30,40,50,60}
print(s1.union(s2)) #all elements

{40, 10, 50, 20, 60, 30}

In [11]:
s1={10,20,30,40}
s2={30,40,50,60}
print(s1.intersection(s2)) #common elements

{40, 30}

In [12]:
s1={10,20,30,40}
s2={30,40,50,60}
print(s1.difference(s2)) #exclusive s1
print(s2.difference(s1)) #exclusive s1 without common elements

{10, 20}
{50, 60}

In [14]:
s1={10,20,30,40}
s2={30,40,50,60}

print(s1-s2) #difference

{10, 20}

In [15]:
s1={10,20,30,40}
s2={30,40,50,60}
print(s1^s2) #symmetric difference ^ this is called cap

{10, 50, 20, 60}

In [16]:
s1={10,20,30,40}
s2={30,40,50,60}
print(s1|s2) #union

{40, 10, 50, 20, 60, 30}

In [17]:
s1={10,20,30,40}
s2={30,40,50,60}
print(s1&s2) #intersection

{40, 30}